# Predicting Bitcoin Prices

I'm trying to predict the price of bitcoin. I found a publicly available datasource on bitcoin prices, which I hope to use as a

In [1]:
from __future__ import absolute_import, division, print_function

import matplotlib.pyplot as plt

import pandas as pd
import seaborn as sns

import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

import time

print(tf.__version__)

1.13.1

The first step is to obtain the data set: 

This took some searching, github to the rescue? Maybe. I'm looking for data by the minute, but perhaps daily values will do for now.

In [2]:
# bitcoin_data_path = keras.utils.get_file(time.strftime('%Y-%m-%d_%H%M') + '_bitcoin.csv', 'https://github.com/Zombie-3000/Bitfinex-historical-data/blob/master/BTCUSD/Candles_1m/2013/merged.csv')
bitcoin_data_path = '/home/thwee/Downloads/BTC-USD (3).csv'
bitcoin_data_path

'/home/thwee/Downloads/BTC-USD (3).csv'

In [3]:
column_names = ['Date','Open','High','Low','Close',
                'Adj Close', 'Volume'] 

raw_dataset = pd.read_csv(bitcoin_data_path, names=column_names, sep=',')
raw_dataset

,Date,Open,High,Low,Close,Adj Close,Volume
0,Date,Open,High,Low,Close,Adj Close,Volume
1,2013-12-12,919.929993,940.979980,839.510010,899.979980,899.979980,8798283
2,2013-12-13,899.979980,989.890015,882.109985,936.770020,936.770020,16173632
3,2013-12-14,936.770020,947.929993,875.109985,908.940002,908.940002,10532106
4,2013-12-15,908.940002,927.900024,837.979980,919.880005,919.880005,13302074
5,2013-12-16,919.880005,924.940002,714.030029,759.919983,759.919983,32899151
6,2013-12-17,759.919983,779.960022,678.880005,714.969971,714.969971,22933905
7,2013-12-18,714.969971,716.989990,454.859985,540.979980,540.979980,62529030
8,2013-12-19,540.979980,745.960022,522.440002,731.950012,731.950012,29980041
9,2013-12-20,731.950012,774.390015,621.250000,649.960022,649.960022,24291048
10,2013-12-21,649.960022,690.000000,610.000000,640.479980,640.479980,9550420
11,2013-12-22,640.479980,699.909973,614.950012,639.489990,639.489990,7693603
12,2013-12-23,639.489990,724.919983,631.010010,713.239990,713.239990,10210388
13,2013-12-24,713.239990,729.940002,665.979980,702.750000,702.750000,7647250
14,2013-12-25,702.750000,709.950012,673.929993,707.250000,707.250000,3721814
15,2013-12-26,707.250000,829.630005,707.210022,801.979980,801.979980,18209291
16,2013-12-27,801.979980,836.830017,767.869995,803.049988,803.049988,11073604
17,2013-12-28,803.049988,805.969971,715.599976,761.989990,761.989990,10127883
18,2013-12-29,761.989990,803.950012,734.979980,784.960022,784.960022,5448579
19,2013-12-30,784.960022,818.830017,780.960022,804.830017,804.830017,8411786
20,2013-12-31,804.830017,813.940002,776.960022,805.940002,805.940002,7294004
21,2014-01-01,805.940002,829.929993,770.969971,815.940002,815.940002,8663855
22,2014-01-02,815.940002,886.210022,810.469971,856.909973,856.909973,10826907
23,2014-01-03,856.909973,888.229980,839.440002,884.260010,884.260010,8409629
24,2014-01-04,884.260010,932.159973,848.320007,924.690002,924.690002,12784626
25,2014-01-05,924.690002,1029.859985,911.359985,1014.739990,1014.739990,20789364
26,2014-01-06,1014.739990,1093.439941,964.739990,1012.650024,1012.650024,23622237
27,2014-01-07,1012.650024,1043.979980,879.849976,879.900024,879.900024,21753921
28,2014-01-08,879.900024,966.900024,858.900024,938.840027,938.840027,12942254
29,2014-01-09,938.840027,964.640015,866.549988,936.950012,936.950012,13202619
...,...,...,...,...,...,...,...
1884,2019-02-07,3394.889893,3406.540039,3369.100098,3375.330078,3375.330078,97390901
1885,2019-02-08,3375.330078,3735.100098,3363.320068,3660.030029,3660.030029,317023029
1886,2019-02-09,3660.030029,3673.709961,3616.110107,3652.260010,3652.260010,94200588
1887,2019-02-10,3652.260010,3689.320068,3611.459961,3685.139893,3685.139893,109365095
1888,2019-02-11,3685.139893,3688.590088,3608.179932,3611.340088,3611.340088,146354074
1889,2019-02-12,3611.340088,3648.669922,3574.219971,3617.409912,3617.409912,164816438
1890,2019-02-13,3617.409912,3655.889893,3590.010010,3605.870117,3605.870117,146822348
1891,2019-02-14,3605.870117,3619.699951,3567.389893,3588.719971,3588.719971,117804856
1892,2019-02-15,3588.719971,3640.649902,3575.949951,3593.489990,3593.489990,130398989
1893,2019-02-16,3593.489990,3639.750000,3592.040039,3617.239990,3617.239990,86973822
1894,2019-02-17,3617.239990,3706.169922,3608.179932,3670.919922,3670.919922,134218331
1895,2019-02-18,3670.919922,3952.439941,3661.419922,3912.570068,3912.570068,376203280
1896,2019-02-19,3912.570068,4010.909912,3882.520020,3924.239990,3924.239990,292137057
1897,2019-02-20,3924.239990,3992.310059,3898.909912,3974.050049,3974.050049,209282292
1898,2019-02-21,3974.050049,4026.540039,3900.280029,3937.040039,3937.040039,187314178
1899,2019-02-22,3937.040039,3996.149902,3917.659912,3983.530029,3983.530029,170405341
1900,2019-02-23,3983.530029,4192.390137,3948.479980,4149.089844,4149.089844,231174632
1901,2019-02-24,4149.089844,4221.620117,3755.379883,3771.620117,3771.620117,319071544
1902,2019-02-25,3771.620117,3885.060059,3771.530029,3845.510010,3845.510010,185036583
1903,2019-02-26,3845.510010,3852.659912,3791.899902,3817.879883,3817.879883,126868886
1904,2019-02-27,3817.879883,3851.840088,3699.530029,3830.719971,3830.719971,175069054
1905,2019-02-28,3830.719971,3909.860107,3798.000000,3823.370117,3823.370117,170646670
1906,2019-03-01,3823.370117,3866.120117,3822.669922,3831.479980,3831.479980,101774924
1907,2019-03-02,3831.479980,3846.379883,3790.739990,3842.939941,3842.939941,73894412
1908,2019-03-03,3842.939941,3853.280029,3788.040039,3812.310059,3812.310059,64065044
1909,2019-03-04,3812.310059,3831.010010,3705.139893,3731.280029,3731.280029,147245676
1910,2019-03-05,3731.280029,3893.520020,3720.489990,3874.179932,3874.179932,165062256
1911,2019-03-06,3874.179932,3916.290039,3839.389893,3874.979980,3874.979980,129520549
1912,2019-03-07,3874.979980,3911.760010,3853.199951,3882.610107,3882.610107,146201726
1913,2019-03-08,3882.610107,3930.870117,3875.899902,3887.719971,3887.719971,48057488

The first seach I did for bitcoin prices turned up a [daily average](https://coinmarketcap.com/currencies/bitcoin/historical-data/).

In [4]:
raw_dataset.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,Date,Open,High,Low,Close,Adj Close,Volume
1,2013-12-12,919.929993,940.979980,839.510010,899.979980,899.979980,8798283
2,2013-12-13,899.979980,989.890015,882.109985,936.770020,936.770020,16173632
3,2013-12-14,936.770020,947.929993,875.109985,908.940002,908.940002,10532106
4,2013-12-15,908.940002,927.900024,837.979980,919.880005,919.880005,13302074

In [5]:
dataset = raw_dataset.copy()
dataset.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
1909,2019-03-04,3812.310059,3831.010010,3705.139893,3731.280029,3731.280029,147245676
1910,2019-03-05,3731.280029,3893.520020,3720.489990,3874.179932,3874.179932,165062256
1911,2019-03-06,3874.179932,3916.290039,3839.389893,3874.979980,3874.979980,129520549
1912,2019-03-07,3874.979980,3911.760010,3853.199951,3882.610107,3882.610107,146201726
1913,2019-03-08,3882.610107,3930.870117,3875.899902,3887.719971,3887.719971,48057488

In [6]:
dataset.isna().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [7]:
train_dataset = dataset.sample(frac=0.8, random_state=0)
test_dataset = dataset.drop(train_dataset.index)

In [8]:
import seaborn as sns
sns.set(style="ticks", color_codes=True)

In [9]:
sns.pairplot(raw_dataset)

IndexError: index -1 is out of bounds for axis 0 with size 0

Oh well, time to move on.

In [14]:
train_stats = train_dataset.describe()

train_stats.pop("Close")
train_stats = train_stats.transpose()

train_stats

          count unique         top freq
Date       1531   1528  2015-03-29    2
Open       1531   1522  237.410004    2
High       1531   1520  612.679993    2
Low        1531   1521  592.789978    2
Adj Close  1531   1521  288.369995    2
Volume     1531   1531     2034965    1
mean        NaN    NaN         NaN  NaN

In [15]:
train_labels = train_dataset.pop('Close')
test_labels = test_dataset.pop('Close')

In [16]:

# y = (x - min) / (max - min)

def norm(x):
    return (x - train_stats['mean']) / train_stats['std']

normed_train_data = norm(train_dataset)
normed_test_data = norm(test_dataset)

KeyError: 'mean'